.expand-btn {
    margin-left: 10px;
}

.collapse-btn {
    position: relative;
    margin-left: 90%;
    left: 0% !important;
    z-index: 7;
    margin-top:2%
}


.experience {
    margin-top: 40px;

}

.experience p {
    color: gray;
    align-items: top;
    margin-top: 5px;
    left: 50%;
    transform: translateX(30%);
}

.experience h3 {
    margin-bottom: 0px;

    left: 50%;
    transform: translateX(30%);
}
.prof-experience-box{

    z-index: 6;
    background: linear-gradient(to right, #ad30df, #4484e4);
    border-radius: 6px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 10% !important;
    height: auto;
    width: 90%;
    top: 0%;
    margin-left:5% !important;
}
.professional-exp-details {

    overflow: hidden;
    top: 0%;
    left: 10%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.exp-title{
    position: relative;
}
.whitespace{
    color: transparent;
}
.exp-title  h3{

    margin-top: 0%;
    z-index: 7;
    position: relative;
    width: 80%;
    align-items: center;
    left:27%;
    
    transform: translateX(-0%);
    font-size: 4.5vh;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #e0e0e0,#f0f0f0);
    text-shadow: 1px 1px 3px rgba(136, 136, 136, 0.534);
}

.hardskills {
    margin-left: 70px;
    width: 100%;
    flex: 1;
    flex-basis: 30%;
    display: inline !important;
    justify-content: top;
    align-items: center;
    
    padding: 0px 0px 0px 0px;
    left: -10%;

    height: 100vh !important;
    margin-top: -15vh !important;
}

.hardskill-title {

    font-weight: bold;
    font-size: 1.8vh;
    margin-bottom: 0;

}

.hardskill-description {
    display: inline-block;
    margin-left: 10px;
    color: rgb(204, 204, 204);
    font-size: 1.7vh;
}

.blank {
    display: fixed;
    top: 20%;
    width: 80%;
    flex: 2;
    flex-basis: 10%;
    float: top;
    justify-content: center;
    align-items: top;
    height: 100%;
}

.responsabilities {
    /* Positioned the responsibilities element properly */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    flex: 3;
    flex-basis: 50%;
    float: top;
    justify-content: center;
    align-items: top;
    height: 100vh !important;
    margin-top: 5vh !important;
}

.blurred {
    filter: blur(5px);
    /* Apply blur effect */
}
.custom-experience-list{

    margin-top:20%;
}
.custom-experience-list .ant-list-item {
    
    position: relative;

}

.custom-experience-list .ant-list-item::after {
    content: '';
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #b83eff, #9d65f8);
    /* Replace with your desired gradient colors */
}


.custom-experience-list-responsabilities{
    top: 0%;
    height: 100%;
}
.custom-experience-list-responsabilities .ant-list-item {
    
    position: relative;

}

.custom-experience-list-responsabilities .ant-list-item::after {
    content: '';
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #713eff, #65b1f8);
    /* Replace with your desired gradient colors */
}

.hardskills-style {

    align-items: top;
    
    font-size: 4.5vh;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #f94cffe3, #d95cff);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.ant-list-item .exp-grid{
    margin-bottom: 0px !important;
    padding: 0px 0px 0px 0px;

}


.responsabilities-style {

    align-items: top;
    
    font-size: 4.5vh;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #b9d7ffef, #cef5ff);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}