
.header-like {
    top: 0px;
    vertical-align: top;
    background: linear-gradient(to right, #a724db, #314ff8);
    padding: 20px;
    border-radius: 10px;
    height: 30vh;

}

.portfolio-header {
    vertical-align: top;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.portfolio-header a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.portfolio-header a:hover {
    color: #007bff;
}